body{
    background-color: rgb(240, 241, 238);
    font-family: "Poppins", serif;
    font-weight: 150;
    font-style: normal;
}

label {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
  }
button{
    height: 60px;
    width: 130px;
    border-radius: 35px;
    background-color: rgb(149, 243, 54);
}
h1{
    color: aliceblue;
    
}

.class1{
    height: 50px;
    background-color: rgb(89, 240, 69);
    margin-top: 20px;
    text-align: center;
    border: 3px;
    border-color: rgb(23, 110, 11);
}
.class2{
    margin-top: 50px;
    margin-right:50px;
    margin-left: 200px;
}
.class3{
    margin: 20px;
}

.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
  }

.poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
}


